body {
  background-color: rgb(57, 55, 55);
}

border {
  border-color: rgb(231, 215, 69);
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(195, 195, 195);
}

h3 {
  text-align: center;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(217, 216, 216);
}

button {
  color: white;
}